.ios,
.md {
  page-home {
    ion-item {
      padding-top: 20%;
    }
    #operation-buttons {
      padding-top: 20%;
    }
    #next {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    #next-icon {
      margin-left: 10px;
    }
  }
}
